h1 {
    color: black;
    font-family: impact;
    font-size: 38px;
}
div {
    text-align: center;
}
.footerLink {
    color: powderblue;
}
.footerLink:hover {
    text-decoration: none;
    color: lightgreen;
}
.footerLink:active {
    text-decoration: none;
    color: lightpink;
}
.footer {
    text-align: center;
    width: 100%;
    background-color: #337ab7;
    color: black;
    bottom: 0;
    position: relative;
    font-size: 15px;
}
.panel-heading {
    font-family: "arial black";
}
#submitGifButton {
    margin: 5px 0px 0px 0px;
}
.gifButtons {
    margin: 5px;
}
h3 {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 525px;
    text-align: center;
    float: center;
    position: relative;
    margin: 5px 15px 5px 15px;
}
img {
    padding: 10px;
    max-width: 525px;
    float: center;
}
tr:not(:last-child) {
    border-bottom: 1px solid #bce8f1;
}
a {
    text-decoration: none;
    color: #0080ff
}
a:hover {
    text-decoration: none;
    color: #00ccff;
}
a:active {
    text-decoration: none;
    color: #00ff99;
}
table {
    min-width: 100%;
}
body {
    background-color: whitesmoke;
}
td:not(:first-child) {
    border-left: 1px solid #bce8f1;
}
tr {
    min-width: 100%;
}
#logo {
    margin: -5px;
}
@media only screen and (max-width: 600px) {
    h3 {
        width: 150px;
    }
}